.idea/
.DS_Store
server.bak/
venv/
**/*.bak
\#*\#
**~
neo4j/import*
neo4j/data/
Generation_framework/builds/logs/*.log
scripts/resources/
scripts/pkt_kg/
scripts/owlnets_output*
scripts/owl
scripts/venv
scripts/.python-version
scripts/robot
scripts/.openapi-generator
api/.openapi-generator/*

# config file
src/instance/app.cfg

# log files in any path
**/*.log

# Ignore docker copied stuff
docker/ubkg-api/src
docker/ubkg-api/VERSION
docker/ubkg-api/BUILD

BUILD

**/__pycache__

**/.pytest_cache