python_dateutil >= 2.6.0
setuptools >= 21.0.0
Flask == 2.1.3
neo4j == 5.15.0
pytest==7.3.1

# Flask 2.1.3 installs the latest Werkzeug==3.0.0 (released on 9/30/2023) and causing import issues
# Use a pinned version 2.3.7 (the latest release before 3.0.0) to mitigate temporaryly
# Will upgrade Flask to newer version later on across all APIs. 10/3/2023 - Zhou
Werkzeug==2.3.7