SERVER='bolt://ubkg-neo4j:7687'
USERNAME='neo4j'
PASSWORD='abcd1234'
# Maximum duration for the execution of timeboxed queries to prevent service timeout, in milliseconds
# The AWS API gateway timeout is 29 seconds.
TIMEOUT=28000
# Maximum number of rows returned from a query to prevent large payloads
ROWLIMIT=1000
# Maximum size of payload, in bytes
# 9437184 bytes = 9 MB, less than the 10 MB payload limit for the AWS API gateway.
PAYLOADLIMIT = 9437184
